$mobile-boundry: 530px;
$primary-color-dark:   #F57C00;
$primary-color:        #ffcc00;
$primary-color-light:  #ffcc00;
$primary-color-text:   #212121;
$accent-color:         #009688;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$button-color:         #ffcc00;
$selected-color:       #fff;
$question-color:       #fff;
$correct-color:        #38D417;
$incorrect-color:      #FE3B1C;
