$mobile-boundry: 530px;
$primary-color-dark:   #F57C00;
$primary-color:        #fc4a4a;
$primary-color-light:  #fc4a4aba;
$primary-color-text:   #212121;
$accent-color:         #009688;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$button-color:         #38D417;
$selected-color:       #4725AF;
$correct-color:        #38D417;
$incorrect-color:      #FE3B1C;
